@{
    ViewData["Title"] = "Home Page";
}

@if (Context.User.Identity.IsAuthenticated)
{
    <h3>Hola @User.Identity.Name</h3>

    <br />

    <a asp-controller="Login" asp-action="Logout" class="btn btn-outline-danger">Cerrar sesión</a>
}
else
{
    <h3>Debes iniciar sesion</h3>
}
