@model heladeria.Models.Producto

@{
    ViewData["Title"] = "Crear Producto";
}



<div class="container form-container mt-5" style="max-width:50%">
    <h1 class="form-header">Crear Nuevo Sabor</h1>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        
        <div class="form-group">
            <label asp-for="Descripcion" class="control-label">Descripción</label>
            <input asp-for="Descripcion" class="form-control" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>

       
        <div class="form-group">
            <label asp-for="Kilos" class="control-label">Kilos</label>
            <input asp-for="Kilos" class="form-control" />
            <span asp-validation-for="Kilos" class="text-danger"></span>
        </div>

        
        <div class="form-group">
            <input type="submit" value="Crear Sabor" class="btn btn-create" />
        </div>
    </form>

    
    <div class="text-center mt-3">
        <a asp-action="Index" class="back-btn">← Volver a la lista</a>
    </div>
</div>
