@model heladeria.Models.PedidoVM

@{
    ViewData["Title"] = "Crear Pedido";
}


<div class="container mt-5">
    <h1>Crear Pedido</h1>
    <h4>Complete los detalles del pedido</h4>
    <hr />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                
                <div class="form-group">
                    <label asp-for="pedido.Kilos" class="control-label">Cantidad (Kilos)</label>
                    <input asp-for="pedido.Kilos" class="form-control" placeholder="Cantidad en Kilos" />
                    <span asp-validation-for="pedido.Kilos" class="text-danger"></span>
                </div>

                
                <!--div class="form-group">
                    <label asp-for="pedido.IdHelado" class="control-label"></label>
                    <input asp-for="pedido.IdHelado" class="form-control" />
                    <span asp-validation-for="pedido.IdHelado" class="text-danger"></span>
                </div-->

                <div class="form-group">
                    <label asp-for="pedido.IdHelado" class="control-label"></label>
                    @Html.DropDownListFor(m => m.pedido.IdHelado, Model.listaSabores, "Seleccione un sabor", 
                        new { @class = "form-control",id = "selectSabor" })
                    <span asp-validation-for="pedido.IdHelado" class="text-danger"></span>
                    <div class="control-label text-center mb-3 d-none" id="kilosDisponibles">Kilos Disponibles: 
                        <span id="kilosDisponiblesValor"></span>
                    </div>
                </div>

                
                <div class="form-group text-center">
                    <input type="submit" value="Crear Pedido" class="btn btn-primary" />
                </div>
            </form>

           
            <div class="text-center mt-4">
                <a asp-action="Index" class="back-link btn btn-outline-brown btn-lg">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>
