@model heladeria.Models.Pedido

@{
    ViewData["Title"] = "Eliminar Pedido";
}



<div class="container mt-5">
    <h1 class="text-center text-danger">Eliminar Pedido</h1>
    <hr />

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center" style="color: #6a4e23;">¿Está seguro de que desea eliminar este pedido?</h3>

            <dl class="row mt-4">
                <dt class="col-sm-3 font-weight-bold">ID del Producto:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdHelado)</dd>

               

                <dt class="col-sm-3 font-weight-bold">Cantidad (Kilos):</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Kilos)</dd>

                <dt class="col-sm-3 font-weight-bold">Usuario Alta:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdUsuarioAlta)</dd>

             
              
            </dl>

            <div class="btn-group text-center">
                <!-- Formulario de eliminación -->
                <form asp-action="Delete" method="post">
                    <!-- Campo oculto con el Id del pedido -->
                    <input type="hidden" name="id" value="@Model.IdPedido" />

                    <input type="submit" value="Eliminar Pedido" class="btn btn-primary btn-lg" />
                    <a class="btn btn-outline-brown mt-2" asp-action="Index">Volver a la lista</a>
                </form>
                <br />
            </div>
        </div>
    </div>
</div>
