@model heladeria.Models.Pedido

@{
    ViewData["Title"] = "Editar Pedido";
}

<div class="container mt-5">
    <h1 class="text-center text-brown">Editar Pedido</h1>
    <h4 class="text-center">Modificar el pedido</h4>
    <hr />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit">

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            
                <div class="form-group">
                    <label asp-for="IdHelado" class="control-label">ID Helado</label>
                    <input asp-for="IdHelado" class="form-control" placeholder="ID del Helado" />
                    <span asp-validation-for="IdHelado" class="text-danger"></span>
                </div>

               
                <div class="form-group">
                    <label asp-for="Kilos" class="control-label">Cantidad (Kilos)</label>
                    <input asp-for="Kilos" class="form-control" placeholder="Cantidad en Kilos" />
                    <span asp-validation-for="Kilos" class="text-danger"></span>
                </div>

               
                <div class="form-group text-center">
                    <input type="submit" value="Guardar Cambios" class="btn-primary btn btn-brown btn-lg" />
                </div>
            </form>
        </div>
    </div>

   
    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-outline-brown btn-lg">Volver a la lista</a>
    </div>
</div>



